h1 {
    color: rgb(100,0,0);
    /*color: cornflowerblue;*/
}

.color-type-1{
    color: crimson;
}

.square {
    width: 100px;
    height: 150px;
    background-color: rgba(red, green, blue, alpha);
    border: black;
}

.inner-square {
    width: 200px;
    height: 100px;
    background-color: darkblue;
    opacity: 0.7;
}