 .container {
    margin-left: auto;
    margin-right: auto;

    max-width: 860px;

    padding-left: 10px;
    padding-right: 10px;
    
}

body {
    background-color: #f0f0f0;
    margin: 0;
}

main {
    background-color: white;
    padding-top: 40px;
    height: 100vh;
}

header {
    background-color: violet;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.float-right {
    float: right;
}