     color: blueviolet;
            background-color: burlywood;
        }
        
        p{
            color: chartreuse;
            background-color: cornsilk;
            font-size: 50px;
        }